<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
</style>
    <div class="col-md-12" style="margin-bottom: 5px; ">
        <div class="card text-center border border-primary">
            <h3 class="card-title text-uppercase" style="color: rgb(44, 142, 253);">
                Jugadores
            </h3>
        </div>
    </div>
<link rel="stylesheet" href="/css/players.css" />
<form action="/players/players" method="POST">
  <title>Jugadores</title>
<body>

  <section>
    <h1>Jugadores</h1>
    <form>
        <option value="selecionar equipo XD">Seleciona a tu equipo</option>
        <select id="country" name="country" class="btn btn-secondary col-12" required>
         <option value="selecionar equipo XD">Seleciona a tu equipo </option>
        {{#each teams}}
                <option value="{{name_team}}">{{name_team}}</option>
        {{/each}}        
      </select>
      <label for="playername">Nombre Jugador:</label>
      <input type="text" id="nombre" name="playername" placeholder="Nombre Jugador" class="form-control" required>

      <label for="age">Edad:</label>
      <input type="number" id="edad" name="age" required>

      <label for="birthdate">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" name="birthdate" required>

      <label for="tshirtnumber">Número de Camiseta:</label>
      <input type="text" id="numeroCamiseta" name="tshirtnumber" required>

      <div id="inputBox">
        <input type="submit" value="Agregar Jugador" id="button1"/>
    </div>
    </form>

  </section>

</form>