<link rel="stylesheet" href="/css/calendario.css">
<form action="/teamstatistics/teamstatistics" method="POST">
    <main class="contenedor">
        <section class="mes">
            <h2 class="nombre_mes">Febrero</h2>
        </section>

        <section class="dias">
            <div class="divdias_item">Lubes</div>
            <div class="divdias_item">Martes</div>
            <div class="divdias_item">Miercoles</div>
            <div class="divdias_item">Jueves</div>
            <div class="divdias_item">Viernes</div>
            <div class="divdias_item">Sabado</div>
            <div class="divdias_item">Domingo</div>
        </section>
        <section class="calendario">
            <div class="calendaio_dia">1</div>
            <div class="calendaio_dia">2</div>
            <div class="calendaio_dia">3</div>
            <div class="calendaio_dia">4</div>
            <div class="calendaio_dia">5</div>
            <div class="calendaio_dia">6</div>
            <div class="calendaio_dia">7</div>
            <div class="calendaio_dia">8</div>
            <div class="calendaio_dia">9</div>
            <div class="calendaio_dia">10</div>
            <div class="calendaio_dia">11</div>
            <div class="calendaio_dia">12</div>
            <div class="calendaio_dia">13</div>
            <div class="calendaio_dia">14</div>
            <div class="calendaio_dia">15</div>
            <div class="calendaio_dia">16</div>
            <div class="calendaio_dia">17</div>
            <div class="calendaio_dia">18</div>
            <div class="calendaio_dia">19</div>
            <div class="calendaio_dia">20</div>
            <div class="calendaio_dia">21</div>
            <div class="calendaio_dia">22</div>
            <div class="calendaio_dia">23</div>
            <div class="calendaio_dia">24</div>
            <div class="calendaio_dia">25</div>
            <div class="calendaio_dia">26</div>
            <div class="calendaio_dia">27</div>
            <div class="calendaio_dia">28</div>
            <div class="calendaio_dia">29</div>
            <div class="calendaio_dia">30</div>
            <div class="calendaio_dia">31</div>
        </section>
    </main>
</form>