.fecha {
    color: #000000;
    text-align: none;
    border-bottom: 1px solid white;
    width: 200px;
    margin: auto;
}

.contet-fecha {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    align-items: center;
    filter: opacity(0.8);
    background: radial-gradient(circle, rgb(43, 127, 133) 4%, rgb(43, 127, 133) 50%);
    border-radius: 6px;
    margin-top: 26px;
    flex-wrap: wrap;
}

.nombre {
    margin: 0px;
    color: white;

}

.resultado {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0px;
}

.td-campos {
    margin: 0px;
    font-size: 25px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    form {
        max-width: 100%;
        margin: 0 10px; 
    }
}