/*------------------------GUARDAR------------------------------------------*/
.form-group {
    margin-bottom: 10px;
}

#container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.3em;
    background-color: rgb(24, 23, 51);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

input {
    width: 97%;
    margin:0.2em;
    height: 2em;
    border-radius: 0.5em;
}

label {
    color: white;
}

h2 {
    text-align: center;
    color: white;
}


#button1 {
    background-color: green;
    margin-left: 0.5em;
}

#button1:hover {
    background-color: rgb(14, 207, 50);
}


@media screen and (max-width: 768px) {
    #container {
        width: 90%;
        padding: 10px;
        
    }
 }
 
 @media screen and (max-width: 600px) {
    #container, h2, input,label {
        width: 95%; /* Ajustado para dispositivos móviles */
        font-size: 0.6em; 
    }
 }

/*-----------------------------------------EDITAR-----------------------*/
 .form-group {
    margin-bottom: 10px;
}

#container-edit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 4em;
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.3em;
    background-color: rgb(24, 23, 51);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

input {
    width: 97%;
    margin:0.2em;
    height: 2em;
    border-radius: 0.5em;
}

label {
    color: white;
}

h2 {
    text-align: center;
    color: white;
}


#button2 {
    background-color: green;
    margin-left: 0.5em;
}

#button2:hover {
    background-color: rgb(14, 207, 50);
}


@media screen and (max-width: 768px) {
    #container {
        width: 90%;
        padding: 10px;
    }
 }
 
 @media screen and (max-width: 600px) {
    #container, h2, input,label {
        width: 95%; /* Ajustado para dispositivos móviles */
        font-size: 0.6em; /* Reducir el tamaño del texto para dispositivos móviles */
    }
 }


 /*-------------------------------botones-------------------------------------*/

 h3 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.card-title text-uppercase {
    text-align: center;
    color: white;
    height: 50px;
    background-color: rgb(24, 23, 51);
    margin-top: 3em;
    border-radius: 1em;
    margin-bottom: 1em;
}
 .buscador {
    margin: 1em;
    width: 40%;
   /* background-color: rgb(24, 23, 51);
    padding:6px;
    border-radius: 1em;
    transform: translateX(140%);*/
 }
 #table {
    width: 95%;
    border-collapse: collapse;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em ;
    margin-top: 2em;
    color: white;
    background-color: rgb(24, 23, 51);
 }
 #encabezado {
    margin-top: 0.5em;
    
 }

 th {
    height: 3em;
    border-top: 1px solid white;
    border-bottom: 4px solid white ;
    text-align: center;
    padding: 5px;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
 }


 td {
    border-bottom: 4px solid white;
    text-align: center;
    font-size: 1em;
    padding: 5px;
 }

 /*tr:hover {
    background-color: rgb(95, 160, 235);
 }*/

 .card__image {
    width: 4em;
    height: 4em;
    margin: 5px;
 }

 #input {
    width: 15em;
    color: white;
    border-radius: 0.5em;
 }

 #button-edit {
    width: 5em;
    border-radius: 1em ;
 }

 .danger {
    background-color: red;
    padding: 2px;
    border-radius: 0.5em;
 }

 .secondary {
    background-color: green;
    padding: 2px;
    border-radius: 0.5em;
 }

 #add {
    color: black ;
    margin: 1em;
    background-color: green;
    padding: 2px;
    border-radius:0.5em ;
 }

 #add, #boton-añadir:hover {
    background-color: rgb(14, 207, 50);
 }

 #boton-añadir {
    background-color: green;
    margin: 1em;
    width: 7em;
    padding: 5px;
    position: absolute;
 }