<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<body id="body-pd">
    <div class="container">
        <header class="header" id="header">
            {{#if user}}
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

            <div class="dropdown">

                <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="header_img">
                        {{#if user.profile_image}}
                        <img src="/{{user.profile_image}}" loading="lazy" alt="User Profile">
                        {{else}}
                        <img src="/not-found/not-found-image.png" alt="..." alt="User Profile">
                        {{/if}}
                    </div>
                    {{!-- {{user.name}} --}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/users/profile"><i class="fa-solid fa-circle-user"></i> Perfil</a>
                    <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> cerrar
                        sesión</a>
                </div>
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <ul>
                    <div> <a href="/" class="nav_logo"> <i class="fa-solid fa-futbol"></i><span
                                class="nav_logo-name">SOCIAL SOCCER</span> </a>

                        <div class="nav_list">
                            <a href="/" class="nav_link active">
                                <i class='fas fa-home nav_icon'></i>
                                <span class="nav_name">INICIO</span>
                            </a>
                            <li>
                                <a href="/users/profile" class="nav_link active">
                                    <i class="fa-solid fa-address-card"></i>
                                    <span class="nav_name">PERFIL</span>
                                </a>
                                <ul>

                                    <li><a href="/users/list-users">LISTA</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/teams/add" class="nav_link active">
                                    <i class="fa-solid fa-shield-heart"></i>
                                    <span class="nav_name"> EQUIPOS</span>
                                </a>
                                <ul>
                                    <li><a href="/teams/list-teams">LISTA</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/games/add" class="nav_link active">
                                    <i class="fa-solid fa-trophy"></i>
                                    <span class="nav_name"> PATIDOS</span>
                                </a>
                                <ul>
                                    <li><a href="/games/list-games">LISTA</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/players/add" class="nav_link active">
                                    <i class="fa-solid fa-people-group"></i>
                                    <span class="nav_name">JUGADORES</span>
                                </a>
                                <ul>
                                    <li><a href="/players/list-players">LISTA</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/playerstatistics/add" class="nav_link active">
                                    <i class="fa-solid fa-chart-simple"></i>
                                    <span class="nav_name">ESTADISTICAS JUGADOR</span>
                                </a>
                                <ul>
                                    <li><a href="/playerstatistics/list-playerstatistics">LISTA</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/comunications/add" class="nav_link active">
                                    <i class="fa-solid fa-newspaper"></i>
                                    <span class="nav_name">NOTICIA</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="/comunications/list-comunications">LISTA</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/coachs/add" class="nav_link active">
                                    <i class="fa-regular fa-futbol"></i>
                                    <span class="nav_name">ENTRENADOR</span>
                                </a>
                                <ul>
                                    <li><a href="/coachs/list-coachs">LISTA</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/teamstatistics/add" class="nav_link active">
                                    <i class="fa-solid fa-chart-line"></i>
                                    <span class="nav_name">ESTADISTICAS</span>
                                </a>
                                <ul>
                                    <li><a href="/teamstatistics/list-teamstatistics">LISTA</a></li>
                                </ul>
                            </li>
                        </div>

                </ul>
                <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Salir
                        de seccion</span> </a>
            </nav>
        </div>
        {{/if}}
    </div>
    <!--Container Main start-->