<link rel="stylesheet" href="/css/comunication.css">

<form action="/comunications/comunications" method="POST">

        <h2>Añadir Noticia</h2>
        <label for="titulo">Título de la Noticia</label>
        <input type="text" name="title" placeholder="Agrega titulo de la noticia" class="form-control">

        <label for="descripcion">Descripción de la Noticia</label>
        <textarea type="text" name="newsdescription" class="form-control" placeholder="Agrega descipcion de la noticia"></textarea>

        <label for="autor">Autor de la Noticia</label>
        <input type="text" name="newsauthor" placeholder="Agrega el autor de la noticia" class="form-control">

        <label for="fecha">Fecha de Publicación</label>
        <input type="text" name="publicationdate" placeholder="Ingresa la fecha de la noticia" class="form-control">

        <div id="guardarBotton">
            <input type="submit" value="Guardar" />
        </div>

        <div id="cancelButton">
            <input type="submit" value="Canclear" />
        </div>
        
</form>