<link rel="stylesheet" href="/css/comunication.css">

<form id="comunicationsForm" action="/comunications/comunications" method="POST">

        <h2>Añadir Noticia</h2>

        <label id="titulo">Título de la Noticia:</label>
        <input type="text" id="title" name="title" placeholder="Agrega titulo de la noticia">

        <label id="descripcion">Descripción de la Noticia:</label>
        <textarea type="text" id="newsDescription" name="newsdescription"
                placeholder="Agrega descipcion de la noticia"></textarea>

        <option id="selecionar">Seleciona al Entrenador:</option>
        <select id="country" name="country" class="btn btn-secondary col-12" required>
                <option value="selecionar equipo XD">Seleciona al Entrenador aqui </option>
                {{#each teams}}
                <option value="{{idteams}}">{{name_president}}</option>
                {{/each}}
        </select>

        <label id="autor">Autor de la Noticia:</label>
        <input type="text" id="newsAuthor" name="newsauthor" placeholder="Agrega el autor de la noticia">

        <label id="fecha">Fecha de Publicación:</label>
        <input type="date" id="publicationDate" name="publicationdate" placeholder="Ingresa la fecha de la noticia">

        <div id="guardarButton">
                <input type="submit" value="Guardar" />
        </div>

</form>