<link rel="stylesheet" href="/css/game.css">

<form action="/games/games" method="POST">

        
        <h2>Añadir Juego</h2>

        <label for="titulo">Fecha de partido</label>
        <input type="text" name="date" placeholder="Fecha de partido" class="form-control">

        <label for="titulo">Rival local</label>
        <input type="text" name="team1" placeholder="Equipo 1" class="form-control">

        <label for="titulo">Rival visitante</label>
        <input type="text" name="team2" placeholder="Equipo 2" class="form-control">

        <label for="titulo">Hora de juego</label>
        <input type="time" name="time" placeholder="Hora de juego" class="form-control">

        <label for="titulo">Arbitro</label>
        <input type="text" name="referee" placeholder="Arbitro del encuentro" class="form-control">

        <div id="guardarBotton">
            <input type="submit" value="Guardar" />
        </div>
        
</form>