<link rel="stylesheet" href="/css/game.css">

<form action="/games/games" method="POST">

        <h2>Añadir Juego</h2>
        <label for="titulo">Nombre del Juego</label>
        <input type="text" name="namegame" placeholder="Agrega nombre del juego" class="form-control">

        <label for="descripcion">Descripción del Juego</label>
        <textarea type="text" name="descripciongame" placeholder="Agrega descipcion del juego" class="form-control"></textarea>

        <label for="autor">Agregar lugar del Juego</label>
        <input type="text" name="locationgame" placeholder="Agrega el lugar del juego" class="form-control">

        <div id="guardarBotton">
            <input type="submit" value="Guardar" />
        </div>
        
</form>